    body{

        padding:5% 10%;
        background:white;

    }

    .main{

        background:url('../img/orbslur.jpg');
        padding:10%;
        text-align: center;
        box-shadow: 1px 1px 10px 1px black;


    }

     .register{

        background:lightsteelblue;
        margin-top:10%;
        padding:10%;
        text-align: center;
        box-shadow: 1px 1px 10px 1px black;
        transition: all 1s;

    }
    #loginBtn{
        background:white;
        color:black;
    }
    .col-xs-12{

        margin-top:1%;
        z-index: 1000;

    }