		<div class='col-xs-12 main' id='headr' >
		            
		    <h1> {{main.heading}} </h1>
		    <br>
		    <h4> {{main.brief }} </h4> 

		    <a href='#/dashboard' ng-click='loadCreate()'>

		        <button class='btn btn-warming'  > Spaza Login </button>
		        
		    </a>
		    
		</div>

		<button class='btn btn-primary col-xs-12'  ng-click="create=!create"> create store</button>

  
        <div class='col-xs-12 register' ng-show='create'  id='registration'>

	            <h2> Create your store {{create}} </h2>

	            <form>
		                <br>
		                <h4> Store name </h4>
		                <input type='text' class='col-xs-12' ng-model='newstorename' name='storename'>
		                <h4> Username </h4>
		                <input type='text' class='col-xs-12' ng-model='newusername' name='username'>
		                <h4> Password</h4>
		                <input type='text' class='col-xs-12's ng-model='newpassword' name='password'>
		                <h4> Email </h4>
		                <input type='text' class='col-xs-12' ng-model='newemail' name='email'>
		                <br>
		                <br>

		                <button class='btn btn-primary' type='button' ng-click='createStore()'> Create </button>
		                <button class='btn btn-warning' type='button' ng-show='next'> Next </button>
	            </form>

        </div>