<html>
	<head>
		<link rel='stylesheet' type='text/css' href='files/css/spazaApp.css'>
	</head>

	<body ng-app="spaza" ng-init="serviceUK=true;edit=false">
		
		<div ng-controller="Store" class='col-xs-12'>

			
			
			<h5> 
				 &nbsp<span class='badge col-xs-12' style='padding:3%;'>
				 		<h3> {{store.storename | uppercase}} </h3><hr>
				 		{{store.email}} <br>
				 		{{store.username}} 
				 	</span>
			</h5>
			

		
		

			<hr>
			<a href='#/products'>
				<button type='button' class='btn btn-warning col-xs-12'>
					<span class="glyphicon glyphicon-list"></span>&nbsp PRODUCTS 
					<span class="badge">{{products.length}}</span> 
				</button>
			</a>

			<a href='#/sales'>
			   <button type='button' ng-click='' class='btn btn-warning col-xs-12'>
			      <span class="glyphicon glyphicon-align-right"></span> &nbspSALES
			      <span class="badge">{{sales.length}}</span>
			    </button>
			</a>

			<a href='#/purchases'>
			    <button type='button' ng-click='' class='btn btn-warning col-xs-12'>
			    	<span class="glyphicon glyphicon-list-alt"></span>&nbsp PURCHASES <span class="badge">{{purchases.length}}</span>
			    </button>
			</a>

			<a href='#/employees'>
				<button type='button' ng-click='' class='btn btn-warning col-xs-12'>
					<span class="glyphicon glyphicon-user"></span>&nbsp EMPLOYEES
					<span class="badge">{{employees.length}}</span>
				</button>
			</a>
			
	        <a href='#/'>
	        	<button class='btn btn-primary col-xs-12'  ng-click="create=!create"> Reports</button>
	        </a>
	        
	        <a href='#/'>
	        	<button class='btn btn-danger col-xs-12'  ng-click="create=!create"> Logout</button>
	        </a>

    </div>
		


		










	

			

	<script type='text/javascript' src='views/spazaApp.js'></script>
  
	</body>
</html>